<footer class="footer bg-dark">
  <div class="container">
    <div class="footer-content">
      <p>&copy; <span id="currentYear"></span> {{currentYear }} | Développé et conçu par Nada BENTAARIT.</p>
      <div class="footer-icons">
        <a href="http://www.linkedin.com/in/nada-ben-taarit/" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/NadaBENTAARIT" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a href="mailto:nada123.bentaarit@gmail.com">
          <i class="fas fa-envelope"></i>
        </a>
        
      </div>
    </div>
  </div>
</footer>
