<div class="row align-items-center default-container">
    <div class="col-lg-8">
        <div class="content">
            <div class="content-left">
                <h2 class="default-topic">Contactez-moi.</h2>
               
            </div>

            <div class="contact-card-container d-flex justify-content-center">
                <div class="contact-card">
                    <img src="../../assets/contact.png" alt="Image de contact" class="contact-image">
                    <h2 class="contact-title">Nada BENTAARIT</h2>
                    <h1 class="default-highlight">INGÉNIEURE EN DÉVELOPPEMENT LOGICIEL</h1>

                    <div class="media-content">
                        <div class="media-icons">
                            <div class="media-icon">
                                <a href="http://www.linkedin.com/in/nada-ben-taarit/" target="_blank">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </div>
                            <div class="media-icon">
                                <a href="https://github.com/NadaBENTAARIT" target="_blank">
                                    <i class="fab fa-github"></i>
                                </a>
                            </div>
                            <div class="media-icon">
                                <a href="mailto:nada123.bentaarit@gmail.com">
                                    <i class="fas fa-envelope"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <p class="contact-paragraph">
                        Je suis toujours ravie de collaborer sur de nouveaux projets et d'explorer des solutions innovantes.
                        Si vous recherchez une développeuse logicielle dédiée pour donner vie à vos idées, organisons un appel.
                        Discutons de la manière dont <span class="default-highlight">nous pouvons travailler ensemble pour atteindre vos objectifs</span>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
