<div class="row align-items-center default-container">
    <div class="col-lg-8">
        <div class="content">
            <div class="content-left">
                <h2 class="default-topic">Parcours.</h2>
                <p class="default-p">
                    Découvrez mon parcours éducatif : les langues que je parle, ma formation universitaire, les cours techniques que j'ai suivis et les technologies avec lesquelles j'ai travaillé.
                </p>
                <app-accordion class="accordion-spacing"></app-accordion>
                
                <div class="cv-container d-flex align-items-center">
                    <div class="cv-image me-4">
                        <img src="../../assets/CV-Nada_BENTAARIT_Preview.jpg" alt="Aperçu du CV de Nada BENTAARIT" class="cv-preview">
                    </div>
                    <div class="cv-button">
                        <a href="../../assets/CV-Nada BENTAARIT.pdf" download>
                            <button class="btn btn-primary2">Télécharger mon CV</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
