<div class="accordion-left">
    <accordion [isAnimated]="true">
        <accordion-group 
        heading="Langues." 
        [panelClass]="customClass"
        class="accordion-title">
            <div class="accordion-text">
                <p>Arabe <strong><span class="default-highlight">(Maternelle)</span></strong></p>
                <p>Français <strong><span class="default-highlight">(Courant)</span></strong></p>
                <p>Anglais <strong><span class="default-highlight">(Intermédiaire)</span></strong></p>
                <p>Espagnol <strong><span class="default-highlight">(Débutant)</span></strong></p>
            </div>
        </accordion-group>
        
        <accordion-group 
        heading="Formation." 
        panelClass="customClass"
        class="accordion-title">
            <div class="accordion-text">
                <p>Institut Supérieur d'Informatique (ISI Ariana) - <strong><span class="default-highlight">Ingénierie de Développement du Logiciel</span></strong> - Cycle Ingénieur</p>
                <ul>
                    <li>Projet de fin d'études | Évaluateur de projet Web pour une plateforme de challenges de coding</li>
                </ul>
                <p>Institut Supérieur d'Informatique (ISI Ariana) - <strong><span class="default-highlight">Systèmes Informatiques et Logiciels</span></strong> - Licence appliquée</p>
            </div>    
        </accordion-group>
        
        <accordion-group 
        heading="Compétences Techniques."
        panelClass="customClass"
        class="accordion-title">
            <div class="accordion-text">
                <ul>
                    <li>Langages de programmation : Java, Python, JavaScript, PHP, SQL</li>
                    <li>Développement Web Frontend : ReactJS, Angular</li>
                    <li>Développement Web Backend : Symfony, Node.js, Spring Boot</li>
                    <li>Développement mobile : React Native</li>
                    <li>Bases de données : MySQL, MongoDB</li>
                    <li>Méthodes d’analyse : UML</li>
                    <li>Cloud : Amazon Web Services (AWS)</li>
                    <li>Business Intelligence : Talend, Microsoft Power BI</li>
                    <li>Outils DevOps : Docker, Kubernetes, GitLab CI/CD, Kind</li>
                </ul>
            </div>
        </accordion-group>
        
        <accordion-group 
        heading="Technologies utilisées."
        panelClass="customClass"
        class="accordion-title">
            <div class="tech-board">
                <div class="tech-cell">
                    <i class="devicon-java-plain-wordmark"></i>
                </div>
                <div class="tech-cell">
                    <i class="devicon-spring-original-wordmark"></i>
                </div>
                <div class="tech-cell">
                    <i class="devicon-angular-plain"></i>
                </div>
                <div class="tech-cell">
                    <i class="devicon-react-original"></i>
                </div>
                <div class="tech-cell">
                    <i class="devicon-python-plain"></i>
                </div>
                <div class="tech-cell">
                    <i class="devicon-nodejs-plain-wordmark"></i>
                </div>
                <div class="tech-cell">
                    <i class="devicon-symfony-original"></i>
                </div>
                <div class="tech-cell">
                    <i class="devicon-mysql-plain-wordmark"></i>
                </div>
                <div class="tech-cell">
                    <i class="devicon-mongodb-plain-wordmark"></i>
                </div>
                <div class="tech-cell">
                    <i class="devicon-docker-plain-wordmark"></i>
                </div>
                <div class="tech-cell">
                    <i class="fas fa-cloud"></i>
                </div>
                
                <div class="tech-cell">
                    <i class="devicon-gitlab-plain"></i>
                </div>
                
                <div class="tech-cell">
                    <i class="devicon-github-original"></i>
                </div>
                <div class="tech-cell">
                    <i class="devicon-kubernetes-plain-wordmark"></i>
                </div>
               
            </div>
        </accordion-group>
    </accordion>
</div>
