<div class="row align-items-center default-container">
  <div class="col-lg-8">
    <div class="text-left">
      <h1 class="home-title">Construire des solutions logicielles de A à Z.</h1>
      <h2 class="home-author">Nada BENTAARIT, <span id="dynamic-text">{{ dynamicText }}</span></h2>
      <blockquote>
          Ingénieure en génie logiciel fraîchement diplômée, j'excelle dans le développement d'applications accessibles, évolutives et performantes. Ma maîtrise des technologies modernes et mon souci du détail garantissent des solutions adaptées et optimisées pour chaque projet.
      </blockquote>
      <button>
          <a routerLink="/portfolio">
              > Voir le Portfolio
          </a>
      </button>
    </div>
  </div>
</div>
